.navbar {
  background-color: #0f5fdc;
  color: white;
  padding: 16px 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-btn {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50px;
}

.menu-container {
  position: relative;
}

.menu-dropdown {
  position: absolute;
  right: 0;
  top: 40px;

  background-color: white;
  color: black;
  width: 180px;
  border-radius: 8px;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.menu-dropdown p {
  padding: 12px 16px;
  cursor: pointer;
}

.menu-dropdown p:hover {
  background-color: #f4f6f8;
}
.menu-item {
  cursor: pointer;
}

.menu-item:hover {
  background-color: #f0f0f0;
}
.navbar-title {
  cursor: pointer;
}

.navbar-title:hover {
  opacity: 0.9;
}
