.warden-notice-card {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;

  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.notice-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.delete-btn {
  background-color: #d32f2f;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.notice-date {
  font-size: 12px;
  color: #666;
}

.no-notice {
  font-style: italic;
  color: #777;
}
