.notice-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 24px;

  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.notice-input,
.notice-textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;

  border: 1px solid #ccc;
  border-radius: 6px;
}

.notice-textarea {
  resize: none;
  height: 80px;
}

.notice-btn {
  background-color: #0f5fdc;
  color: white;
  border: none;
  border-radius: 100px;
  padding: 13px 16px;

  cursor: pointer;
}
